#忽略根目录下面的.idea文件夹
/.idea/
.git/
.pyc
/venv/
/.ropeproject/
#忽略所有的__pycache__文件夹
__pycache__/
*.spec
/complete/
/script/*
!/packagescript/packagescript.py
!/packagescript/buildqrc.py
!/packagescript/uiConnectResources.py

/test/py/
/test/download/*
!/test/download/666666/
!/test/download/999999/
/test/bilibili/*
!/test/bilibili/666666/
!/test/bilibili/999999/
/config.json
